<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../stylesheets/login.css"/>
	</head>
	<body>
		<div class="login">
			<form method="post" action="/register/">
				<input type="text" name="firstname" placeholder="Vorname" required="required" />
				<input type="text" name="lastname" placeholder="Nachname" required="required" />
				<input type="password" name="password" placeholder="Passwort" required="required" />
				<input type="text" name="email" placeholder="E-Mail" required="required" />
				<input type="text" name="servername" placeholder="Server Name" required="required" />
				<button type="submit" class="btn btn-primary btn-block btn-large">Registrieren</button>
			</form>
		</div>
	</body>
</html>
